/* info */

.infoDiv{
    width: 60vw;
    height: 55vh;
    background-color: rgba(210, 156, 55, 0.251);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:2vh;
    padding: 1.5vh 5vw 1.5vh 5vw;

    border-radius: 5px;
}

.infoDiv h1{
    font-size: 2.5vw;
    margin: 1vh 0 0 0;
}

.informationGrid{
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(4,17vw);
}

.infoTile{
    display: flex;
    flex-direction: column;

    width: 13vw;
    height: 41vh;
    padding: 1vh 1vw 1vh 1vw;
    gap:3vh;
    background-color: rgba(210, 162, 71, 0.7);
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.infoDiv h2{
    font-size: 2vw;
    margin: 0;
}

.infoDiv p{
    font-size: 1.5vw;
    margin: 0;
}

#hourTile h2{
    font-size: 1.8vw;
}

#hourTile p{
    font-size: 1.1vw;
}

#socialTile p{
    font-size: 1.3vw;
}
#infoTile h2{
    font-size: 1.9vw;
}

@media (max-width: 600px){
    .infoDiv{
        width: 70vw;
        height: 135vh;

        margin-top: 2vh;
    }

    .infoDiv h1{
        font-size: 3.3vh;
        margin: 1vh 0 3vh 0;
    }

    .informationGrid{
        justify-items: center;
        display: grid;
        grid-template-columns: repeat(1,40vw);
        grid-template-rows: repeat(4,32vh);
    }

    .infoTile{
        display: flex;
        flex-direction: column;

        width: 58vw;
        height: 26vh;
        padding: 1vh 1vw 1vh 1vw;
        gap:3vh;
    }

    .infoDiv h2{
        font-size: 2.5vh;
        margin: 0;
    }

    .infoDiv p{
        font-size: 2.2vh;
        margin: 0;
    }

    #hourTile h2{
        font-size: 2.5vh;
    }

    #hourTile p{
        font-size: 2.3vh;
    }

    #socialTile p{
        font-size: 1.8vh;
    }

    #infoTile h2{
        font-size: 3.5vh;
    }
}