@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&family=Libertinus+Mono&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* body */
body{
    font-family: "Libertinus Mono", monospace;
    margin: 0px;
    background-color: bisque;
}

/* header */
#content{

    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    gap: 5vh;

}

.header{
    width: 80vw;
    height: 25vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(0, 0, 0,0.35);
    border-radius: 0px 0px 3vw 3vw;
}

.header h1{
    font-size: 3.8vw;
    margin: 1.5vh 0 0 0;
}

.buttonHolder{

    display: flex;
    flex-direction: row;
    gap:2vw;

    padding-top: 1.5vh;
    
}

.tabButtons{
    width: 15vw;
    height: 10vh;

    font-family: "Libertinus Mono", monospace;
    font-size: 2.8vw;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    transition: font-size 0.5s ease, transform 0.5s ease;
}

.tabButtons.active{
    font-size: 3.3vw;
}

/* home page */

.homePage{
    width: 60vw;
    height: 55vh;
    background-color: rgba(210, 156, 55, 0.251);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5vh 5vw 1.5vh 5vw;

    border-radius: 5px;
}

.homeTitle{
    font-size: 3vw;
}

.paragraph{
    font-size: 1.2vw;
}

/* menu */
.menuPage{
        display: flex;
        flex-direction: column;
        background-color: rgba(210, 156, 55, 0.251);

        padding: 1vh 2vw 1vh 2vw;
        overflow-y: auto;
        text-align: center;
        width: 60vw;
        height: 60vh;
}

.menuHeader{
    font-size: 3.8vw;
    margin: 1.5vh 0 0 0;
}

.gridDiv{
    margin-top: 2vh;
    display: grid;
    grid-template-columns: repeat(3,21vw);
    grid-template-rows: repeat(3,15vh);
}

.tile{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 17vw;
    height: 30vh;
    background-color: rgb(210, 156, 55);
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.tile h1{
    font-size: 1.4vw;
}

.tile img{
    width: 10vw;
    height: auto;
    opacity: 0.95;
}



@media (max-width: 600px){
    #content{
        width: 100vw;
        height: 100vh;
    }

    .header{
        width: 85vw;
        height: 18vh;

        background-color: rgb(0, 0, 0,0.35);
        border-radius: 0px 0px 3vw 3vw;
    }

    .header h1{
        font-size: 4vh;
        margin: 2vh 0 0 0;
    }

    .buttonHolder{

        gap:3vh;

        padding-top: 0.4vh;
        
    }

    .tabButtons{
        width: 15vw;
        height: 10vh;

        font-family: "Libertinus Mono", monospace;
        font-size: 2.8vh;
        background-color: rgba(0, 0, 0, 0);
        border-width: 0;
        transition: font-size 0.5s ease, transform 0.5s ease;
    }

    .tabButtons.active{
        font-size: 3.3vh;
    }

    /* home page */

    .homePage{
        width: 65vw;
        height: 60vh;

        padding: 1.5vh 5vw 1.5vh 5vw;

        border-radius: 5px;
    }

    .homeTitle{
        font-size: 3vh;
    }

    .paragraph{
        font-size: 1.7vh;
    }

    /* menu */
    .menuPage{

    }

    .menuHeader{

    }

    .gridDiv{

    }

    .tile{
        
    }
}